body {
  background-color: #EEE;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0,0,0,0.86);
}

h1 {
  text-align: center;
  margin: 32px 0 24px 0;
  font-weight: 500;
  font-size: 45px;
}

.explanation {
  text-align: center;
  margin: 0 0 16px 0;
  font-size: 16px;
}

main {
  margin: 0 24px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  main {
    margin: 0 12px;
  }
}

@media screen and (max-width: 800px) {
  main {
    margin: 0;
  }
}

.card {
  border-radius: 2px;
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 16px 16px 24px 16px;
  text-align: center;
  font-size: 14px;
  margin: 12px;
  transition: box-shadow 0.1s ease-out, transform 0.1s ease-out;
}

[data-jumpready] >.card:not(.moving) {
  transition: left 0.3s ease-out, right 0.3s ease-out, top 0.3s ease-out, opacity 0.3s ease-out, box-shadow 0.1s ease-out, transform 0.1s ease-out;
}

.card.moving {
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.16), 0 8px 40px 0 rgba(0, 0, 0, 0.12);
  z-index: 500;
  transform: scale(1.05);
}

.placeholder {
  background-color: #e0e0e0;
  color: transparent;
  box-shadow: none;
}

.card-header {
  margin: 4px 0 8px 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: move;
  display: block;
}

p {
  margin: 8px 0;
  line-height: 1.5;
  font-size: 14px;
}

ul {
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
  margin: 8px 0;
  padding: 0
}

li {
  padding-left: calc(2em + 8px);
  text-indent: -1.3em;
  list-style: none;
}

li::before {
  content: "\2022";
  padding-right: 8px;
  color: rgba(0,0,0,0.54); /* or whatever color you prefer */
}

code {
  text-indent: 0;
  white-space: nowrap;
}

code:not([class*="language-"]) {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #f5f2f0;
  padding: .1em;
  border-radius: .3em;
}

code:not([class*="language-"])::before, code:not([class*="language-"])::after, .short::before, .short::after {
    letter-spacing: -0.3em;
    content: "\00a0";
}

:root pre[class*="language-"] {
  margin: 12px 8px;
  font-size: 14px;
}
:root code[class*="language-"] {
  white-space: pre-wrap;
}

.code-nowrap {
  white-space: pre !important;
}

.token {
  display: inline-block;
}